


/* ESTILO DEL TÍTULO */
.title {
    font-size: 6em; /* Aumenta el tamaño de la fuente aún más */
    color: #3498db; /* Color del texto */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-weight: bold; /* Asegura que el texto sea grueso */
    line-height: 1.2; /* Controla la altura de la línea */
    white-space: normal; /* Permite los saltos de línea */
}


