
/* FORMULARIO EMPRESA */
:root {
    --primary: #39a900;
    --secondary: #98fe58;
    --tertiary: #f2ffe5;
    --alternate: #29690b;
    --primary-text: black;
    --secondary-text: #5d5d5d;
    --alternate-text: #919191;
    --primary-background: #fff;
    --secondary-background: #E6E6E6;
    --alternate-background: #04324d;
    --color-success: #52d726;
    --color-error: #e74c3c;
    --color-warning: #f1c40f;
    --color-info: #ffffff;
    --primary-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    --primary-font-family: 'Work Sans Regular', sans-serif;
    --secondary-font-family: 'Work Sans Bold', sans-serif;
    --bp-small: 480px;
    --bp-medium: 767px;
    --bp-large: 1200px;
    --web-margin: 1366px;
}
::selection {
    color: #fff;
    background: #fd7d1c;
    }
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--secondary);
    background: url('../../imagenes/jpg.jpg') no-repeat center center fixed;
    background-size: cover;
    
}
/* otros */
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form-group {
    flex: 1 1 46%;
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.form-group-full {
    flex: 1 1 100%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.modal-body {

    /* Increased padding for more space inside the card */
    max-width: 800px;
    /* Set a maximum width for the card */
    max-height: 90vh;
    /* Set a maximum height for the card */
    width: 100%;
    /* Make sure it takes the full available width */

}
.main-container {
    display: flex;

    align-items: center;
    width: 100%;
    height: 355px;
}

/* Contenedor personalizado para el carrusel */
.custom-carousel-container {
    position: relative;
    top: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Ajusta el padding superior e inferior según sea necesario */
}

/* Estilos personalizados para el carrusel */
.custom-carousel {
    max-width: 800px;
    /* Ajusta el ancho máximo del carrusel */
    margin: 0 auto;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #04324d;
    /* Fondo blanco suave y semitransparente */
}

/* Añadir espacio superior al contenido para que no quede oculto detrás de la barra de navegación */


.layout {
    position: relative;
    min-width: 1290px;
    width: 90%;
    height: 80vh;
    min-height: 80vh;
    margin: 9vh auto 2vh;
    display: grid;
    grid-template-areas:
        "aside content";
    grid-template-columns: 1% 99%;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--primary-text);
}

/* Estilos adicionales para la barra de navegación */

img {
    vertical-align: middle;
    /* Centra verticalmente la imagen */
    border-style: hidden;
    /* Oculta el borde de la imagen */
    height: 75px;
    /* Ajusta la altura de la imagen según lo necesites */
    width: auto;
    /* Mantiene la proporción original de la imagen */
    display: block;
    /* Hace que la imagen se comporte como un bloque */
    margin-left: auto;
    /* Ajusta el margen izquierdo automáticamente */
    margin-right: auto;
    /* Ajusta el margen derecho automáticamente */
    max-width: 100%;
    /* Asegura que la imagen no sea más grande que su contenedor */
}

.navbar-brand {
    display: flex;
    align-items: center;

}

.nav-item .btn-link {
    color: #007bff;
    font-weight: bold;
}

.nav-item .btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}
.custom-carousel .carousel-inner img {
    max-height: 500px;
    /* Ajusta la altura máxima de las imágenes */
    width: auto;
    height: 300px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #f2f2f2;
    padding: 19px;
    /* Ajusta el padding alrededor de las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    width: auto;
    /* Ajusta el ancho para que solo los íconos sean clicables */
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente para mejor visibilidad */
    border-radius: 50%;
    /* Forma circular */
    padding: 10px;
    /* Espacio alrededor del ícono */

}

.uppercase-title {
    text-transform: uppercase;
}
.form-label {
    margin-bottom: 2px;
}

.form-input {
    padding: 6px;
    margin-bottom: -15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.form-button-reset {
    background-color: #dc3545;
    color: white;
}
.form-container {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.text{
    font-size:2rem;
    }
.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-textarea {
    resize: vertical;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button-submit {
    background-color: #28a745;
    color: white;
}

.form-button-reset {
    background-color: #dc3545;
    color: white;
}

/* Estilos para el campo de entrada en el modal */
.modal-textbox {
    border: 2px solid purple;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Efecto de luz que recorre el modal */
.modal-light {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(128, 0, 128, 0.5);
    border-radius: 50%;
    animation: modalLightAnimation 2s linear infinite;
}

@keyframes modalLightAnimation {
    0% {
        left: -10px;
        top: -10px;
        box-shadow: 0 0 20px 10px rgba(128, 0, 128, 0.5);
    }

    50% {
        left: calc(100% - 10px);
        top: calc(100% - 10px);
        box-shadow: 0 0 20px 10px rgba(128, 0, 128, 0.5);
    }

    100% {
        left: -10px;
        top: -10px;
        box-shadow: 0 0 20px 10px rgba(128, 0, 128, 0.5);
    }
}

/* Estilo para el botón de cierre del modal */
.btn-close {
    color: purple;
    transition: color 0.3s ease;
}

.btn-close:hover {
    color: #800080;
}

/* Otros estilos */
.card {
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    background-size: cover;
    background-color: #04324d;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.card-header .card-tools .btn-tool i {
    color: #ffffff;
}

.card-body {
    background-size: cover;
    background-color: #e6e6e6;
    padding: 2rem;
}

.card-footer {
    background-size: cover;
    background-color: #c8e6c9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.btn-success {
    background-color: #04324d;
    border-color: #04324d;
}

.btn-success:hover {
    background-color: #04324d;
    border-color: #04324d;
}
.label-white {
    color: white;
}

/* Diseño - INDEX */

.input-with-icon input {
    padding-left: 40px; 
    outline: none; 
}

.input-with-icon input:focus {

    border-color: #04324d;; 
    box-shadow: 0 0 0 0.2rem #04324d; 
}

.input-with-icon {
    position: relative;
}

.input-with-icon .identificacion-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #919191;
    cursor: pointer;
}

.input-with-icon:hover .identificacion-icon {
    color: #f1c40f; 
}

.input-with-icon input {
    padding-left: 40px; 
}

.input-with-icon .correo-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #919191; 
    cursor: pointer;
}

.input-with-icon:hover .correo-icon {
    color: #f1c40f;
}

.input-with-icon input {
    padding-left: 40px; 
}

.input-with-icon .clave-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #919191; 
    cursor: pointer;
}

.input-with-icon:hover .clave-icon {
    color: #f1c40f;
}

.input-with-icon input {
    padding-left: 40px;
}

.register-link {
    color: #39a900; 
    text-decoration: none; 
    cursor: pointer; 
}

.register-link:hover {
    text-decoration: underline; 
    color: #f1c40f; 
}


#linkOlvideClave {
    color: #39a900; 
    text-decoration: none; 
    cursor: pointer;
}

#linkOlvideClave:hover {
    text-decoration: underline; 
    color: #f1c40f; 
}

#footerText {
    color: black; 
    font-size: 14px; 
}

/* "Recordar clave - checkbox"  */

.form-switch .form-check-input {
    width: 0;
    height: 0;
    opacity: 0;
}

.form-switch .form-check-label {
    position: relative;
    cursor: pointer;
    padding-left: 2.25rem;
}

.form-switch .form-check-label::before,
.form-switch .form-check-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.form-switch .form-check-label::before {
    width: 2rem;
    height: 1rem;
    background-color: #919191;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.form-switch .form-check-label::after {
    width: 1rem;
    height: 1rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 0.2rem 04324d;
    transition: left 0.3s, background-color 0.3s;
}

.form-switch .form-check-input:checked + .form-check-label::before {
    background-color: #39a900;
}

.form-switch .form-check-input:checked + .form-check-label::after {
    left: 1rem;
}


/*loader*/
 @-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
  
    30%,
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
  
    30%,
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }
  
  .honeycomb {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #f3f3f3;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #f3f3f3;
  }
  
  .honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #f3f3f3;
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  } 