.container {
  height: 294px;
  width: 240px;
  color: white;
  perspective: 800px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1CAF50, #9BC34A);


  border-radius: 2rem;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  position: absolute;
  width: 50%;
  background-color: green;
  border: 2px solid green;
  top: 0;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.7);
}

.card-top-para {
  font-size: 16px;
  font-weight: bold;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateX(180deg) rotateZ(-180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.7);
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.back {
  background: linear-gradient(to bottom, #1CAF50, #9BC34A);
  transform: rotateX(180deg) rotateZ(-180deg);
}

.heading {
  font-size: 22px;
  font-weight: bold;
}

.follow {
  font-size: 16px;
  font-weight: 500;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
/* lolok */
.card {
  padding: 20px;
  /* Aumentar el padding interno de las tarjetas */
  margin-bottom: 15px;
  /* Espacio entre cada tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra de la tarjeta */
  border-radius: 15px;
  /* Borde redondeado de la tarjeta */
  width: 100%;
  /* Ancho del aside */
  height: 100%;
  /* Altura completa del contenido */
  position: fixed;
  /* Fijar en la posición */


}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  /* Espacio entre tarjetas */
}

.col-sm-10 {
  padding: 100px;
  /* Añadir padding al contenedor de la columna */
}
.container {
  height: 294px;
  width: 296px;
  color: white;
  perspective: 800px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  position: absolute;
  width: 50%;
  background-color: green;
  border: 2px solid green;
  top: 0;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.7);
}

.card-top-para {
  font-size: 16px;
  font-weight: bold;
}

.container:hover>.card {
  cursor: pointer;
  transform: rotateX(180deg) rotateZ(-180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.5);
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.back {
  background: linear-gradient(to bottom, #1CAF50, #9BC34A);
  transform: rotateX(180deg) rotateZ(-180deg);
}

.heading {
  font-size: 22px;
  font-weight: bold;
}





.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card {
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}