.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-out;
    max-width: 1400px;
    width: 95%;
}
.upload-container {
    text-align: center;
    margin-top: 20px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.circle i {
    font-size: 50px;
    color: #777;
}

.upload-label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.upload-container input[type="file"] {
    display: none;
}
/* botones */
.create-button {
    background-color: #4CAF50;
    color: white;
}

.close-button {
    background-color: #f44336;
    color: white;
}