.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    width: 400px;
    margin: auto; /* Centra el formulario en la página */
    margin-top: 20px; /* Espacio superior */
}

/* Identificadores */
.label-identifier {
    font-weight: bold;
    color: #333;
}
/*  */
.separacion{
    margin: 5rem, 5rem;
}


/* lo que es */
.course-buttons {
    text-align: center;
    margin-top: 20px;
}

.course-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.notificacion{
            position: absolute;
            left: 150rem;
            
        }
/* botones */
.create-button {
    background-color: #4CAF50;
    color: white;
}

.close-button {
    background-color: #f44336;
    color: white;
}
h5, h6.label-identifier {
    font-weight: bold;
    color: #333;
}

h6.label-identifier {
    margin-top: 15px;
    font-size: 1.1em;
    color: #000;
}

/* Datos no editables */
label.data-field {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}



.local {
    left: 20px;
    width: 10rem; /* Ajusta el tamaño según tus necesidades */
    height: 2rem; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 1rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    }
.navbar2 {
        display: flex;
        justify-content: center;
        
        padding: 15px 0;
        
}
.notificacion2{
    position: absolute;
    left: 85%;

}
.form-container {
    /* display: flex;
    flex-direction: column;
    gap: 15px;  
    esto me separa el modal en dos columnas*/
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.course-data-field {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 15px;
}

.label-identifier {
    font-weight: bold;
    color: #333;
}

.data-field {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    color: #333;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

input[type="file"] {
    padding: 5px;
}
.text{
    font-size:2rem;
    }
input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h2 {
    margin-bottom: 20px;
    color: #007bff;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.course-data-container {
    border-top: 2px solid #007bff;
    
}

.filter-container {
    position: relative;
    display: inline-block;
}

.filter-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.filter-btn i {
    margin-right: 5px;
}

.filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-options label {
    display: block;
    margin: 5px 0;
}

.apply-filters-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

