.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    width: 400px;
    margin: auto; /* Centra el formulario en la página */
    margin-top: 20px; /* Espacio superior */
}

/* Identificadores */
.label-identifier {
    font-weight: bold;
    color: #333;
}
/*  */
.separacion{
    margin: 5rem, 5rem;
}

/* botones */
.create-button {
    background-color: #4CAF50;
    color: white;
}

.close-button {
    background-color: #f44336;
    color: white;
}
/* lo que es */
.course-buttons {
    text-align: center;
    margin-top: 20px;
}

.course-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-button {
    background-color: #4CAF50;
    color: white;
}

.close-button {
    background-color: #f44336;
    color: white;
}
h5, h6.label-identifier {
    font-weight: bold;
    color: #333;
}

h6.label-identifier {
    margin-top: 15px;
    font-size: 1.1em;
    color: #000;
}

/* Datos no editables */
label.data-field {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}


.notificacion2{
    position: absolute;
    left: 85%;

}
.local {
    left: 20px;
    width: 10rem; /* Ajusta el tamaño según tus necesidades */
    height: 2rem; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 1rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.text{
    font-size:2rem;
    }
.navbar2 {
    display: flex;
    justify-content: center;
    
    padding: 15px 0;
    
}

